@media (min-width: 1024px) {
  body {
    margin: 0 0 2vh 0;
  }

  .background {
    background-image: url("https://media.istockphoto.com/id/1069974748/id/foto/hari-bersalju-musim-dingin-di-hutan-yang-indah.jpg?s=1024x1024&w=is&k=20&c=aqKi-Ucfq2Phd4aeHHSPrUpnE8e0iiCq6ZbWhJecAig=");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    filter: brightness(70%);
  }

  .main {
    /* border: 0.5vw solid white; */
    margin: 3vw auto 0 auto;
    width: 27vw;
    height: 40vw;
    border-radius: 3vw;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 99;
    position: relative;
  }

  .judul {
    font-size: 2.5vw;
    text-align: center;
    color: #5c4b4b;
    margin: 2% 0 0 0;
    font-family: sans-serif;
  }

  .hasil {
    /* border: 0.2vw solid white; */
    background-color: white;
    border-radius: 2vw;
    margin: auto;
    width: 95%;
    height: 10%;
    overflow: auto;
    box-shadow: -3vw -3vw 10vw rgba(0, 0, 0, 0.5);
  }

  .value {
    text-align: right;
    font-size: 2.5vw;
    margin: 0;
    transform: translate(-3%, 0.6vw);
  }

  .other {
    width: 60%;
    height: 30%;
    /* background-color: black; */
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    margin-top: 19vw;
    left: -2vw;
    position: absolute;
    z-index: 90;
    /* transform: translateX(-14.18vw); */
    border-radius: 1vw 0 0 1vw;
    transition: 0.7s;
  }

  .geser {
    color: white;
    background-color: white;
    width: 12.5%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 1vw;
    position: relative;
  }

  .geser:hover {
    filter: brightness(65%);
    cursor: pointer;
  }

  .geser p {
    margin: 0;
    color: black;
  }

  .tombolOther {
    float: left;
    width: 81.5%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
  }

  .tombolOther div {
    transition: 0.3s;
    position: relative;
    z-index: 90;
  }

  .tombolOther div:hover {
    filter: brightness(70%);
    cursor: pointer;
  }

  .kurungPembuka {
    width: 35%;
    height: 40%;
    border-radius: 100%;
    background-color: white;
    margin-top: 4.5%;
    margin-left: 8.6%;
    margin-right: 10.5%;
    margin-bottom: 5%;
    float: left;
  }

  .kurungPenutup {
    width: 35%;
    height: 40%;
    border-radius: 100%;
    background-color: white;
    margin-right: 5%;
    margin-top: 4.5%;
    margin-bottom: 5%;
    float: left;
  }

  .akar {
    width: 35%;
    height: 40%;
    border-radius: 100%;
    background-color: white;
    margin-top: 4.5%;
    margin-left: 8.6%;
    margin-right: 10.5%;
    margin-bottom: 5%;
    float: left;
  }

  .pangkat {
    width: 35%;
    height: 40%;
    border-radius: 100%;
    background-color: white;
    margin-right: 5%;
    margin-top: 4.5%;
    margin-bottom: 5%;
    float: left;
  }

  .bawah {
    /* background-color: black; */
    margin: 3% 3% 0 3%;
    width: 94%;
    border-radius: 0 0 3vw 3vw;
    height: 65%;
    position: relative;
  }

  p {
    text-align: center;
    font-size: 1.8vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(-20%);
  }

  .bawah div {
    z-index: 99;
    position: relative;
    transition: 0.3s;
  }

  .bawah div:hover {
    filter: brightness(70%);
    cursor: pointer;
  }

  .reset,
  .tujuh,
  .empat,
  .satu,
  .koma {
    width: 19%;
    height: 19%;
    border-radius: 100%;
    background-color: white;
    margin-left: 2%;
    margin-right: 6.3%;
    margin-bottom: 5%;
    float: left;
  }

  .delete,
  .delapan,
  .lima,
  .dua,
  .nol {
    width: 19%;
    height: 19%;
    border-radius: 100%;
    background-color: white;
    margin-right: 6.3%;
    margin-bottom: 5%;
    float: left;
  }

  .persentase,
  .sembilan,
  .enam,
  .tiga {
    width: 19%;
    height: 19%;
    border-radius: 100%;
    background-color: white;
    margin-bottom: 5%;
    float: left;
  }

  .bagi,
  .kali,
  .kurang,
  .tambah {
    width: 19%;
    height: 19%;
    border-radius: 100%;
    background-color: white;
    margin-left: 6.3%;
    margin-bottom: 5%;
    float: left;
  }

  .samadengan {
    height: 19%;
    width: 43%;
    border-radius: 5vw;
    float: left;
    background-color: white;
  }

  .reset p,
  .tujuh p,
  .empat p,
  .satu p,
  .koma p,
  .delete p,
  .delapan p,
  .lima p,
  .dua p,
  .nol p,
  .persentase p,
  .sembilan p,
  .enam p,
  .tiga p,
  .bagi p,
  .kali p,
  .kurang p,
  .tambah p{
    user-select: none;
    -webkit-user-select: none; 
  }
  .tombolOther div p{
    user-select: none;
    -webkit-user-select: none; 
  }
}

@media (min-width: 500px) and (max-width: 1023px) {
  body {
    margin: 0 0 2vh 0;
  }

  .background {
    background-image: url("https://media.istockphoto.com/id/1069974748/id/foto/hari-bersalju-musim-dingin-di-hutan-yang-indah.jpg?s=1024x1024&w=is&k=20&c=aqKi-Ucfq2Phd4aeHHSPrUpnE8e0iiCq6ZbWhJecAig=");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    filter: brightness(70%);
  }

  .main {
    /* border: 0.5vw solid white; */
    margin: 3vw auto 0 auto;
    width: 40vw;
    height: 60vw;
    border-radius: 3vw;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 99;
    position: relative;
  }

  .judul {
    font-size: 2.8vw;
    text-align: center;
    color: #5c4b4b;
    margin: 2% 0 0 0;
    font-family: sans-serif;
  }

  .hasil {
    /* border: 0.2vw solid white; */
    background-color: white;
    border-radius: 2vw;
    margin: auto;
    width: 95%;
    height: 10%;
    overflow: auto;
    box-shadow: -3vw -3vw 10vw rgba(0, 0, 0, 0.5);
  }

  .value {
    text-align: right;
    font-size: 4vw;
    margin: 0;
    transform: translate(-3%, 0.6vw);
  }

  .other {
    width: 60%;
    height: 30%;
    /* background-color: black; */
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    margin-top: 28vw;
    left: -2vw;
    position: absolute;
    z-index: 90;
    /* transform: translateX(-14.18vw); */
    border-radius: 1vw 0 0 1vw;
    transition: 0.7s;
  }

  .geser {
    color: white;
    background-color: white;
    width: 12.5%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 1vw;
    position: relative;
  }

  .geser:hover {
    filter: brightness(65%);
    cursor: pointer;
  }

  .geser p {
    margin: 0;
    color: black;
  }

  .tombolOther {
    float: left;
    width: 81.5%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
  }

  .tombolOther div {
    transition: 0.3s;
    position: relative;
    z-index: 90;
  }

  .tombolOther div:hover {
    filter: brightness(70%);
    cursor: pointer;
  }

  .kurungPembuka {
    width: 35%;
    height: 40%;
    border-radius: 100%;
    background-color: white;
    margin-top: 4.5%;
    margin-left: 8.6%;
    margin-right: 10.5%;
    margin-bottom: 5%;
    float: left;
  }

  .kurungPenutup {
    width: 35%;
    height: 40%;
    border-radius: 100%;
    background-color: white;
    margin-right: 5%;
    margin-top: 4.5%;
    margin-bottom: 5%;
    float: left;
  }

  .akar {
    width: 35%;
    height: 40%;
    border-radius: 100%;
    background-color: white;
    margin-top: 4.5%;
    margin-left: 8.6%;
    margin-right: 10.5%;
    margin-bottom: 5%;
    float: left;
  }

  .pangkat {
    width: 35%;
    height: 40%;
    border-radius: 100%;
    background-color: white;
    margin-right: 5%;
    margin-top: 4.5%;
    margin-bottom: 5%;
    float: left;
  }

  .bawah {
    /* background-color: black; */
    margin: 3% 3% 0 3%;
    width: 94%;
    border-radius: 0 0 3vw 3vw;
    height: 65%;
    position: relative;
  }

  p {
    text-align: center;
    font-size: 2.8vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(-20%);
  }

  .bawah div {
    z-index: 99;
    position: relative;
    transition: 0.3s;
  }

  .bawah div:hover {
    filter: brightness(70%);
    cursor: pointer;
  }

  .reset,
  .tujuh,
  .empat,
  .satu,
  .koma {
    width: 19%;
    height: 19%;
    border-radius: 100%;
    background-color: white;
    margin-left: 2%;
    margin-right: 6.3%;
    margin-bottom: 5%;
    float: left;
  }

  .delete,
  .delapan,
  .lima,
  .dua,
  .nol {
    width: 19%;
    height: 19%;
    border-radius: 100%;
    background-color: white;
    margin-right: 6.3%;
    margin-bottom: 5%;
    float: left;
  }

  .persentase,
  .sembilan,
  .enam,
  .tiga {
    width: 19%;
    height: 19%;
    border-radius: 100%;
    background-color: white;
    margin-bottom: 5%;
    float: left;
  }

  .bagi,
  .kali,
  .kurang,
  .tambah {
    width: 19%;
    height: 19%;
    border-radius: 100%;
    background-color: white;
    margin-left: 6.3%;
    margin-bottom: 5%;
    float: left;
  }

  .samadengan {
    height: 19%;
    width: 43%;
    border-radius: 5vw;
    float: left;
    background-color: white;
  }

  .reset p,
  .tujuh p,
  .empat p,
  .satu p,
  .koma p,
  .delete p,
  .delapan p,
  .lima p,
  .dua p,
  .nol p,
  .persentase p,
  .sembilan p,
  .enam p,
  .tiga p,
  .bagi p,
  .kali p,
  .kurang p,
  .tambah p{
    user-select: none;
    -webkit-user-select: none; 
  }
  .tombolOther div p{
    user-select: none;
    -webkit-user-select: none; 
  }
}

@media (max-width: 500px) {
  body {
    margin: 0 0 2vh 0;
  }

  .background {
    background-image: url("https://media.istockphoto.com/id/1069974748/id/foto/hari-bersalju-musim-dingin-di-hutan-yang-indah.jpg?s=1024x1024&w=is&k=20&c=aqKi-Ucfq2Phd4aeHHSPrUpnE8e0iiCq6ZbWhJecAig=");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    filter: brightness(70%);
  }

  .main {
    /* border: 0.5vw solid white; */
    margin: 3vw auto 0 auto;
    width: 80vw;
    height:115vw;
    border-radius: 3vw;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 99;
    position: relative;
  }

  .judul {
    font-size: 6vw;
    text-align: center;
    color: #5c4b4b;
    margin: 2% 0 0 0;
    font-family: sans-serif;
  }

  .hasil {
    /* border: 0.2vw solid white; */
    background-color: white;
    border-radius: 2vw;
    margin: auto;
    width: 95%;
    height: 10%;
    overflow: auto;
    box-shadow: -3vw -3vw 10vw rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }

  .value {
    text-align: right;
    font-size: 10vw;
    margin: 0;
    transform: translate(-3%,-0.5vw);
  }

  .other {
    width: 53%;
    height: 30%;
    background-color: black;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    margin-top: 100vw;
    transform: translateX(-1vw) rotate(-90deg);
    left: -2vw;
    position: absolute;
    z-index: 90;
    border-radius: 1vw 0 0 1vw;
    transition: 0.7s;
  }

  .geser {
    color: white;
    background-color: white;
    width: 12.5%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    transition: 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 1vw;
    position: relative;
  }

  .geser:hover {
    filter: brightness(65%);
    cursor: pointer;
  }

  .geser p {
    margin: 0;
    color: black;
  }

  .tombolOther {
    float: left;
    width: 81.5%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
  }

  .tombolOther div {
    transition: 0.3s;
    position: relative;
    z-index: 90;
  }

  .tombolOther div:hover {
    filter: brightness(70%);
    cursor: pointer;
  }

  .kurungPembuka {
    width: 14.5vw;
    height: 14.5vw;
    border-radius: 100%;
    background-color: white;
    margin-top: 4.5%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 3%;
    float: left;
  }

  .kurungPenutup {
    width: 14.5vw;
    height: 14.5vw;
    border-radius: 100%;
    background-color: white;
    margin-top: 4.5%;
    margin-bottom: 3%;
    float: left;
  }

  .akar {
    width: 14.5vw;
    height: 14.5vw;
    border-radius: 100%;
    background-color: white;
    margin-top: 4.5%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 3%;
    float: left;
  }

  .pangkat {
    width: 14.5vw;
    height: 14.5vw;
    border-radius: 100%;
    background-color: white;
    margin-top: 4.5%;
    margin-bottom: 3%;
    float: left;
  }

  .bawah {
    /* background-color: black; */
    margin: 3% 3% 0 3%;
    width: 94%;
    border-radius: 0 0 3vw 3vw;
    height: 65%;
    position: relative;
  }

  p {
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(-20%);
  }

  .bawah div {
    z-index: 99;
    position: relative;
    transition: 0.3s;
  }

  .bawah div:hover {
    filter: brightness(70%);
    cursor: pointer;
  }

  .reset,
  .tujuh,
  .empat,
  .satu,
  .koma,
  .delete,
  .delapan,
  .lima,
  .dua,
  .nol,
  .persentase,
  .sembilan,
  .enam,
  .tiga,
  .bagi,
  .kali,
  .kurang,
  .tambah {
    width: 14.5vw;
    height: 14.5vw;
  }

  .reset p,
  .tujuh p,
  .empat p,
  .satu p,
  .koma p,
  .delete p,
  .delapan p,
  .lima p,
  .dua p,
  .nol p,
  .persentase p,
  .sembilan p,
  .enam p,
  .tiga p,
  .bagi p,
  .kali p,
  .kurang p,
  .tambah p{
    user-select: none;
    -webkit-user-select: none; 
  }
  .tombolOther div p{
    user-select: none;
    -webkit-user-select: none; 
  }

  .reset,
  .tujuh,
  .empat,
  .satu,
  .koma {
    border-radius: 100%;
    background-color: white;
    margin-left: 2%;
    margin-right: 6.3%;
    margin-bottom: 5%;
    float: left;
  }

  .delete,
  .delapan,
  .lima,
  .dua,
  .nol {
    border-radius: 100%;
    background-color: white;
    margin-right: 6.3%;
    margin-bottom: 5%;
    float: left;
  }

  .persentase,
  .sembilan,
  .enam,
  .tiga {
    border-radius: 100%;
    background-color: white;
    margin-bottom: 5%;
    float: left;
  }

  .bagi,
  .kali,
  .kurang,
  .tambah {
    border-radius: 100%;
    background-color: white;
    margin-left: 6.3%;
    margin-bottom: 5%;
    float: left;
  }

  .samadengan {
    height: 13vw;
    width: 34vw;
    border-radius: 5vw;
    float: left;
    background-color: white;
  }

  .tombolOther div{
    transform: rotate(90deg);
    /* background-color: black; */
    display: block;
  }
}
